$font-stack: 'Segoe UI', Helvetica, sans-serif;
$Flame: #dc5318 ;
$MaximumRed: #d0342b ;
$Honeydew: #e0f2e9 ;
$Dark_Jungle_Green: #002626 ;
$Midnight_Green_Eagle_Green: #004e64 ;
$spanish_green: #28965A;


$breakpoint-sm: 420px; //mobile
$breakpoint-md: 760px; //tablet
$breakpoint-lg: 992px; //laptop
$breakpoint-xl: 1920px; //laptop and desktops